/* COMMON - BEGIN */

/* FONT SETTINGS */
.tf-select,
.tf-text,
.tf-textarea,
.tf-multiple,
.tf-label,
.tf-fieldset legend,
.tf-file,
.tf-file input,
.tf-radio,
.tf-checkbox,
.tf-button {
    font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
    font-size: 13px;
    cursor: pointer;
}

/* FIELD - NORMAL */
.tf-select .tf-selected,
.tf-text,
.tf-multiple,
.tf-textarea,
.tf-file .tf-info,
.tf-radio,
.tf-checkbox {
    background: #d2eaf6;
    background: -webkit-linear-gradient(top, #d2eaf6, #fff);
    background: -moz-linear-gradient(top, #d2eaf6, #fff);
    background: -ms-linear-gradient(top, #d2eaf6, #fff);
    background: -o-linear-gradient(top, #d2eaf6, #fff);
    background: linear-gradient(to bottom, #d2eaf6, #fff);
    box-shadow: inset 0 0 2px #54b0e0;
    border: 1px solid #54b0e0;
    border-radius: 5px;
    color: #329fe0;
    padding: 3px 5px;
}

/* FIELD - FOCUSED */
.tf-select.tf-focused .tf-selected,
.tf-select .tf-menu,
.tf-multiple.tf-focused,
.tf-text:focus, .tf-textarea:focus,
.tf-file.tf-focused .tf-info,
.tf-radio.tf-focused,
.tf-checkbox.tf-focused{
    background: #fee9ca;
    background: -webkit-linear-gradient(top, #fee9ca, #fff);
    background: -moz-linear-gradient(top, #fee9ca, #fff);
    background: -ms-linear-gradient(top, #fee9ca, #fff);
    background: -o-linear-gradient(top, #fee9ca, #fff);
    background: linear-gradient(to bottom, #fee9ca, #fff);
    box-shadow: inset 0 0 2px #fba121;
    border: 1px solid #fba121;
    color: #000;
}

/* BUTTON - NORMAL */
.tf-select .tf-right,
.tf-button,
.tf-file .tf-button{
    background: #b7def2;
    background: -webkit-linear-gradient(top, #b7def2, #54b0e0);
    background: -moz-linear-gradient(top, #b7def2, #54b0e0);
    background: -ms-linear-gradient(top, #b7def2, #54b0e0);
    background: -o-linear-gradient(top, #b7def2, #54b0e0);
    background: linear-gradient(to bottom, #b7def2, #54b0e0);
    box-shadow: inset 0 0 2px 0 #fff, inset 0 0 2px 0 #fff;
    border: 1px solid #54b0e0;
    border-radius: 5px;
    padding: 3px 5px;
}

/* BUTTON - FOCUSED */
.tf-select.tf-focused .tf-right,
.tf-file.tf-focused .tf-button,
.tf-button.tf-focused {
    background: #fcc06b;
    background: -webkit-linear-gradient(top, #fcd19a, #faa52d);
    background: -moz-linear-gradient(top, #fcd19a, #faa52d);
    background: -ms-linear-gradient(top, #fcd19a, #faa52d);
    background: -o-linear-gradient(top, #fcd19a, #faa52d);
    background: linear-gradient(to bottom, #fcd19a, #faa52d);
    border-color: #fba121;
}

/* BLACK OUTLINE, WHITE TEXT */
.tf-select .tf-right,
.tf-select .tf-menu .tf-hover,
.tf-multiple .tf-hover,
.tf-multiple .tf-selected,
.tf-button {
    color: #fff;
    text-shadow:
        1px 0 rgba(0,0,0,.2),
        -1px 0 rgba(0,0,0,.2),
        0 -1px rgba(0,0,0,.2),
        0 1px rgba(0,0,0,.2),
        1px 1px rgba(0,0,0,.2),
        -1px -1px rgba(0,0,0,.2),
        1px -1px rgba(0,0,0,.2),
        -1px 1px rgba(0,0,0,.2);
}

/* COMMON - END */

/* SELECT BOX - BEGIN */

.tf-select .tf-selected {
    border-radius: 5px 0 0 5px;
}

.tf-select .tf-right {
    border-left: none;
    border-radius: 0 5px 5px 0;
}

.tf-select .tf-right span {
    display: block;
    background: url('ui-icons-white.png') -64px -15px;
    width: 16px;
    margin-left: -2px;
}

.tf-select .tf-menu {
    border-radius: 0 0 5px 5px;
}

.tf-select .tf-menu div,
.tf-multiple div {
    border: 1px solid transparent;
    border-left-width: 0;
    border-right-width: 0;
    padding: 3px 5px;
}

.tf-select .tf-menu .tf-hover,
.tf-multiple.tf-focused .tf-hover,
.tf-multiple.tf-focused .tf-selected {
    border-color: #fba121;
    background: #fcc06b;
    background: -webkit-linear-gradient(top, #faa52d, #fcd19a);
    background: -moz-linear-gradient(top, #faa52d, #fcd19a);
    background: -ms-linear-gradient(top, #faa52d, #fcd19a);
    background: -o-linear-gradient(top, #faa52d, #fcd19a);
    background: linear-gradient(to bottom, #faa52d, #fcd19a);
    box-shadow: inset 0 0 2px #fff, inset 0 0 2px #fff;
}

.tf-select .tf-menu .tf-first,
.tf-select .tf-menu .tf-group-first {
    border-top-width: 0;
}

.tf-select .tf-menu .tf-group-last,
.tf-select .tf-menu div.tf-last {
    border-bottom-width: 0;
}

.tf-select .tf-menu ul {
    overflow: hidden;
}

.tf-select .tf-menu li.tf-last {
    margin-bottom: -1px;
}

.tf-select .tf-menu .tf-last {
    border-radius: 0 0 5px 5px;
}

.tf-select.tf-opened .tf-selected {
    border-radius: 5px 0 0 0;
}

.tf-select.tf-opened .tf-right {
    border-radius: 0 5px 0 0;
}

.tf-select .tf-menu li,
.tf-multiple.tf-focused li {
    border-bottom: 1px solid #fba121;
    border-top: 1px solid #fba121;
    margin: -1px 0;
}

.tf-select .tf-menu li > span,
.tf-multiple li > span,
.tf-multiple.tf-focused li > span {
    display: block;
    padding: 3px 5px;
    text-align: center;
    font-weight: bold;
    color: #000;
    background: #fbd0a3;
    border-bottom: 1px solid #fba121;
    cursor: default;
    white-space: nowrap;
}

/* SELECT BOX - END */

/* MULTIPLE SELECT BOX - BEGIN */

.tf-multiple {
    padding: 0;
}
.tf-multiple li {
    border: 1px solid #54b0e0;
    border-right: none;
    border-left: none;
    margin: -1px 0;
}
.tf-multiple li > span {
    border-color: #54b0e0;
    background: #c1ddf5;
}
.tf-multiple .tf-hover,
.tf-multiple .tf-selected,
.tf-multiple.tf-focused .tf-hover {
    background: #b7def2;
    background: -webkit-linear-gradient(top, #54b0e0, #b7def2);
    background: -moz-linear-gradient(top, #54b0e0, #b7def2);
    background: -ms-linear-gradient(top, #54b0e0, #b7def2);
    background: -o-linear-gradient(top, #54b0e0, #b7def2);
    background: linear-gradient(to bottom, #54b0e0, #b7def2);
    box-shadow: inset 0 0 2px #fff, inset 0 0 2px #fff;
    border-color: #54b0e0;
}
.tf-multiple .tf-hover,
.tf-multiple .tf-selected {
    border: 1px solid #54b0e0;
    border-left: none;
    border-right: none;
}
.tf-multiple div.tf-first {
    border-top:none;
    border-radius: 5px 5px 0 0;
}
.tf-multiple div.tf-last {
    border-bottom: none;
    border-radius: 0 0 5px 5px;
}
.tf-multiple .tf-group-first {
    border-top: none;
}
.tf-multiple li.tf-last,
.tf-multiple .tf-group-last {
    border-bottom: none;
}

/* MULTIPLE SELECT BOX - END */

/* FILE UPLOAD BOX - BEGIN */

.tf-file {
    width: 200px;
    padding: 0;
    overflow: auto;
}

.tf-file .tf-info, .tf-file.tf-focused .tf-info {
    padding: 3px 5px;
    border-radius: 5px 0 0 5px;
    border-right: none;
}

.tf-file .tf-button {
    border-radius: 0 5px 5px 0;
    color: transparent;
    text-shadow: none;
}
.tf-file .tf-button span {
    margin: 0 0 0 -4px;
    width: 16px;
    height: 16px;
    display: block;
    overflow: hidden;
    background: url('ui-icons-white.png') -16px -96px;
}
.tf-file .tf-button:before {
    content: "\00a0"
}
.tf-file input::-webkit-file-upload-button {
    cursor: pointer;
}

/* FILE UPLOAD BOX - END */

/* RADIO BUTTON - BEGIN */

.tf-radio {
    width: 15px;
    height: 15px;
    padding: 0;
    border-radius: 8px;
}
.tf-radio input {
    position: absolute;
    width: 17px;
    height: 17px;
    margin: -1px 0 0 -1px;
    padding: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
}
.tf-radio span {
    width: 15px;
    height: 15px;
    display: block;
    float: right;
}
.tf-radio.tf-checked span {
    background: url('ui-icons-blue.png') -80px -145px;
}
.tf-radio.tf-checked.tf-focused span {
    background-image: url('ui-icons-black.png');
}

/* RADIO BUTTON - END */

/* CHECK BOX - BEGIN */

.tf-checkbox {
    padding: 0;
    width: 15px;
    height: 15px;
}

.tf-checkbox input {
    position: absolute;
    width: 17px;
    height: 17px;
    margin: -1px 0 0 -1px;
    padding: 0;
    outline: none;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
}

.tf-checkbox.tf-checked span {
    width: 15px;
    height: 15px;
    display: block;
    background: url('ui-icons-blue.png') -64px -145px;
    float: right;
}
.tf-checkbox.tf-focused.tf-checked span {
    background-image: url('ui-icons-black.png');
}


/* CHECK BX - END */

/* BUTTON */

.tf-button {
    overflow: hidden;
    padding: 0;
}

.tf-button span {
    margin: 3px 7px;
    float: right;
}

.tf-button input,
.tf-button button {
    position: absolute;
    margin: 0;
    padding: 0;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

/* TEXT & TEXTAREA - BEGIN */

.tf-text, .tf-textarea {
    outline: none;
    cursor: text;
    margin: 0;
}
.tf-text.tf-readOnly,
.tf-textarea.tf-readOnly,
.tf-text.tf-readOnly:focus,
.tf-textarea.tf-readOnly:focus {
    background: #e4e4e4;
    background: -webkit-linear-gradient(top, #e4e4e4, #fff);
    background: -moz-linear-gradient(top, #e4e4e4, #fff);
    background: -ms-linear-gradient(top, #e4e4e4, #fff);
    background: -o-linear-gradient(top, #e4e4e4, #fff);
    background: linear-gradient(to bottom, #e4e4e4, #fff);
    box-shadow: inset 0 0 2px #a2a2a2;
    border: 1px solid #a2a2a2;
    border-radius: 5px;
    color: #888;
    padding: 3px 5px;
}

/* PLACEHOLDER COLORS */

.tf-text::-webkit-input-placeholder,
.tf-textarea::-webkit-input-placeholder {
    color: #abc7d6;
}
.tf-text:-moz-placeholder,
.tf-textarea:-moz-placeholder {
    color: #54B0E0;
}
.tf-text::-moz-placeholder,
.tf-textarea::-moz-placeholder {
    color: #54B0E0;
}
.tf-text:-ms-input-placeholder,
.tf-textarea:-ms-input-placeholder {
    color: #abc7d6;
}
.tf-text:focus::-webkit-input-placeholder,
.tf-textarea:focus::-webkit-input-placeholder {
    color: #f3c889;
}
.tf-text:focus:-moz-placeholder,
.tf-textarea:focus:-moz-placeholder {
    color: #fba121;
}
.tf-text:focus::-moz-placeholder,
.tf-textarea:focus::-moz-placeholder {
    color: #fba121;
}
.tf-text:focus:-ms-input-placeholder,
.tf-textarea:focus:-ms-input-placeholder {
    color: #f3c889;
}

/* READ-ONLY PLACEHOLDERS */

.tf-text.tf-readOnly::-webkit-input-placeholder,
.tf-textarea.tf-readOnly::-webkit-input-placeholder {
    color: #d4d4d4;
}
.tf-text.tf-readOnly:-moz-placeholder,
.tf-textarea.tf-readOnly:-moz-placeholder {
    color: #dedede;
}
.tf-text.tf-readOnly::-moz-placeholder,
.tf-textarea.tf-readOnly::-moz-placeholder {
    color: #dedede;
}
.tf-text.tf-readOnly:-ms-input-placeholder,
.tf-textarea.tf-readOnly:-ms-input-placeholder {
    color: #d4d4d4;
}
.tf-text.tf-readOnly:focus::-webkit-input-placeholder,
.tf-textarea.tf-readOnly:focus::-webkit-input-placeholder {
    color: #d4d4d4;
}
.tf-text.tf-readOnly:focus:-moz-placeholder,
.tf-textarea.tf-readOnly:focus:-moz-placeholder {
    color: #dedede;
}
.tf-text.tf-readOnly:focus::-moz-placeholder,
.tf-textarea.tf-readOnly:focus::-moz-placeholder {
    color: #dedede;
}
.tf-text.tf-readOnly:focus:-ms-input-placeholder,
.tf-textarea.tf-readOnly:focus:-ms-input-placeholder {
    color: #d4d4d4;
}

/* TEXT & TEXTAREA - END */

/* FIELD SET */
.tf-fieldset {
    border: 1px solid #54b0e0;
    box-shadow: inset 0 0 2px #54b0e0;
    background: #f0f0ff;
    margin: 0;
    padding: 5px 10px 10px 10px;
    border-radius: 5px;
}
.tf-fieldset legend {
    margin: 0;
    padding: 0;
    color: #329fe0;
    font-weight: bold;
    text-shadow:
        1px 0 rgba(255,255,255,.2),
        -1px 0 rgba(255,255,255,.2),
        0 -1px rgba(255,255,255,.2),
        0 1px rgba(255,255,255,.2),
        1px 1px rgba(255,255,255,.2),
        -1px -1px rgba(255,255,255,.2),
        1px -1px rgba(255,255,255,.2),
        -1px 1px rgba(255,255,255,.2);
}

/* MISC */

.tf-label {
    color: #000;
    margin: 0 3px;
}

.tf-disabled {
    opacity: .5;
    filter: alpha(opacity=50);
    cursor: default;
}
.tf-fieldset.tf-disabled,
.tf-form.tf-disabled {
    opacity: 1;
    filter: alpha(opacity=100);
}